N8N-Workflows/Daily Executive Briefing/Daily Executive Briefing.json
{
  "name": "Email_Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1744,
        944
      ],
      "id": "40c5e9aa-b19a-44ef-984e-c0af215c62e7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ALL EMAILS:\n{{ $json.data.filter(item => item.Subject).map((email, index) => `\nEmail ${index + 1}:\n  From: ${email.From}\n  Subject: ${email.Subject}\n  Snippet: ${email.snippet}`).join(\"\\n\") }}\n\nALL CALENDAR EVENTS:\n{{ $json.data.filter(item => item.start).map((event, index) => `\nEvent ${index + 1}:\n  Time: ${event.start.dateTime} to ${event.end.dateTime}\n  Summary: ${event.summary || \"No summary\"}\n  Organizer: ${event.organizer.displayName} (${event.organizer.email})\n  Status: ${event.status}`).join(\"\\n\") }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Executive Assistant. Your task is to prepare a daily executive briefing for a busy client by analyzing their Gmail emails and Google Calendar.\n\nInputs:\n\nGmail emails: subject, sender, body, timestamp.\n\nGoogle Calendar events: title, start/end time, participants, location, notes.\n\nYour goals:\n\nSummarize all new emails received since the last briefing.\n\nExtract key points, action items, deadlines, and follow-ups for the client.\n\nIdentify potential calendar conflicts and highlight urgent scheduling issues.\n\nProduce a concise, structured briefing that is easy to read and ready to act upon.\n\nOutput format :\nDaily Executive Briefing – [Date]\n\n1. Emails Summary:\n   - Sender: [Name]\n   - Subject: [Subject]\n   - Key Points: [Bullet points]\n   - Action Items: [Bullet points with deadlines if any]\n\n2. Calendar Highlights:\n   - Conflicts/Overlaps: [Details]\n   - Important Upcoming Meetings: [Time, Participants, Purpose]\n   - Notes/Reminders: [Optional]\n\n3. Urgent Alerts: [Anything requiring immediate attention]\n\nTone: Professional, concise, and actionable. Avoid irrelevant details. Focus on what the executive needs to know immediately."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2640,
        944
      ],
      "id": "f89953fa-dc69-499b-a5ef-3916a647df69",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1968,
        848
      ],
      "id": "8143dbcd-3c70-4334-a887-33360773e907",
      "name": "Get many messages",
      "webhookId": "placeholder-id",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth-id",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2192,
        944
      ],
      "id": "2d2ffbc1-1f04-4c93-9c40-b852aa3188a0",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "=Daily Executive Brief",
        "emailType": "text",
        "message": "=Daily Executive Briefing – {{ $json.output.briefing_date }}\n\n📧 EMAILS SUMMARY:\n{{ $json.output.emails_summary.map(email => `\n• From: ${email.sender}\n  Subject: ${email.subject}\n  Key Points:\n${email.key_points.map(point => `    - ${point}`).join(\"\\n\")}\n  Action Items:\n${email.action_items.map(action => `    - ${action}`).join(\"\\n\")}`).join(\"\\n\") }}\n\n📅 CALENDAR HIGHLIGHTS:\n\nConflicts/Overlaps: {{ $json.output.calendar_highlights.conflicts_overlaps }}\n\nImportant Upcoming Meetings:\n{{ $json.output.calendar_highlights.important_upcoming_meetings.map(meeting => `• ${meeting.time}\n  Participants: ${meeting.participants}\n  Purpose: ${meeting.purpose}`).join(\"\\n\") }}\n\nNotes/Reminders: {{ $json.output.calendar_highlights.notes_reminders }}\n\n⚠️ URGENT ALERTS:\n{{ $json.output.urgent_alerts }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2992,
        944
      ],
      "id": "860467a2-a0dc-42f2-9e51-5aaafb96eae8",
      "name": "Send a message",
      "webhookId": "placeholder-id",
      "credentials": {
        "gmailOAuth2": {
          "id": "my-gmail-credential",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"briefing_date\": \"2025-12-29\",\n  \"emails_summary\": [\n    {\n      \"sender\": \"John Doe\",\n      \"subject\": \"Project Update\",\n      \"key_points\": [\"Point 1\", \"Point 2\"],\n      \"action_items\": [\"Action 1\", \"Action 2\"]\n    }\n  ],\n  \"calendar_highlights\": {\n    \"conflicts_overlaps\": \"No conflicts detected\",\n    \"important_upcoming_meetings\": [\n      {\n        \"time\": \"09:00 AM - 10:00 AM\",\n        \"participants\": \"Team Members\",\n        \"purpose\": \"Weekly sync\"\n      }\n    ],\n    \"notes_reminders\": \"Prepare presentation\"\n  },\n  \"urgent_alerts\": \"No urgent alerts\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2776,
        1168
      ],
      "id": "cc96acac-a0d5-499a-8f4e-973039f9be70",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "your-calendar-id@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n Demo Calendar"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1968,
        1040
      ],
      "id": "20c960b2-090d-4863-b5f7-9b051ad17fa8",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-id",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2656,
        1168
      ],
      "id": "d0d4e7b2-a8db-41fe-ae2b-0d8940baf01b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "google-gemini-api-id",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "869319f0-be95-430b-86bf-12b061acd3ed",
      "name": "Aggregate All Data",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2416,
        944
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "version-id-placeholder",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-n8n-instance-id"
  },
  "id": "workflow-id",
  "tags": []
}